* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-Th.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-ThCn.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-ThCnO.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-ThEx.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-ThIt.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-UltLt.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-UltLtCnO.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-UltLtEx.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-UltLtExO.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/HelveticaNeueLTStd-UltLtIt.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

